/* Phone View */
/* :root {
    font-family: 'Indie Flower', cursive;
    font-family: 'Bagel Fat One', cursive;
    line-height: 1.5;
    font-weight: 400;
} */
#header{
    background-color: #2b2118;
    color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Indie Flower', cursive;
}
#logo{
     /* font-family: 'Indie Flower', cursive; */
    font-size: 1.6em;
    margin: 5px;
}
#logoPhone{
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
}
#logoPhone p{
    text-align:center;
    padding: 10px 20px;
    border: 1px solid #2b2118;
    color: black;
    font-size: 1.6em;
}
body {
    width: 100%;
    margin: 0;
    font-family: 'Bagel Fat One', cursive;
}
#welcome{
    width: fit-content;
    text-align: center;
    margin: 20px 30px;
}
#welcomeMeme1{
    display: block;
    width: 250px;
    height:auto;
    margin: 20px auto 0;
}

@media only screen and (min-width: 500){
    #header{
        background-color: #2b2118;
        color: white;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        font-family: 'Indie Flower', cursive;
    }
    #logo{
        font-size: 1.6em;
    }
    #welcomeMemes{
        display:flex;
        justify-content: space-around;
    }
    #welcomeMeme1, #welcomeMeme2{
        display: line;
        width: 250px;
        height:250px;
        margin: 20px auto 0;;
        margin: 0;
        padding: 0;
    }

}
@media only screen and (min-width: 900){

}
