@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

body {
    width: 100%;
    margin: 0 auto;
    /* font-family: 'Bagel Fat One', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    color:white;
    background-color: #2b2118;
}
body a{
    text-decoration: none;
    color: white;
}

